section.nghe-si-danh-sach.main-section
	.container
		h1.title-page-big.mb.text-center Nghệ sĩ
		.row
			-for(i=0;i<6;i++)
				.col-lg-4.col-sm-6
					.item-nghe-si
						.img
							a(href="").zoom-img
								img(src="./img/post/10.png", alt="")
						a(href="").title Cyril Kongo