section.page-trung-bay-chi-tiet.main-section
	.container
		h1.title-page-big.text-center.mb Cyril Kongo
		.gallery-detail-wrap
			.gallery-detail-img
				a(href="./img/post/1.png" data-fancybox)
					img(src="./img/post/1.png", alt="")
			.gallery-detail-content
				.wrap
					h2.title Horus eye
					.title-sub 200x200cm – Mixed media on French linen
					.price Giá từ: 54.000.000 - 90.000.000 đ
					.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				ul.wrap-social-main
					li
						a(href="")
							em.ri-facebook-fill
					li
						a(href="")
							em.ri-twitter-fill
					li
						a(href="")
							em.ri-linkedin-box-fill
section.trung-bay-khac
	.container
		h3.title-page-big.text-center.mb Tác phẩm trưng bày khác
		.wrap-slide-section
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.item-display-gallery
								.display-img.zoom-img
									a(href="")
										img(src="./img/trung-bay/1.png", alt="")
								.display-content
									a(href="").display-title Horus eye
									p.display-small 200x200cm – Mixed media on French linen
									.display-price Giá từ: 54.000.000 - 90.000.000 đ
			.wrap-button-main.no-right
				.button-prev.button-sw-2
					em.lnr.lnr-chevron-left
				.button-next.button-sw-2
					em.lnr.lnr-chevron-right
