section.nghe-si-tong-quan.gioi-thieu.main-section
	.container
		.img-sign
			img(src="./img/post/sign.png", alt="")
		.wrap-flex-content
			.content
				.desc
					p Hom Nguyen, sinh năm 1972 tại Paris, là một nghệ sĩ tự học với phong cách nghệ thuật hết sức bản năng. Hầu hết, các tác phẩm của Hom đều là tranh chân dung nắm bắt cảm xúc đa dạng của con người từ hạnh phúc đến tuyệt vọng.
					p Thực ra nếu nhìn vào tranh của Hom Nguyen thì sẽ thấy được là anh không quan tâm nhiều đến sự trau chuốt hay những hình thức nghệ thuật bóng bẩy mà thay vào đó anh tập trung vào sự thật ẩn sâu bên trong con người. Những đường nét đan xen trên mặt vải canvas rất tự do, ngẫu hứng và dường như không có điểm kết thúc đã tạo nên bức chân dung  lột tả nội tâm phức tạp bên trong. Mỗi tác phẩm với Hom như một cuộc chạm chán, đối diện với người khác, nhưng qua đó, anh khiến khán giả tự xem xét nội tâm về những gì mà bản thân chúng ta thể hiện, những gì chúng ta cố gắng che giấu hãy những gì thật sự thuộc về chúng ta.
					p Hom Nguyen đã gói gọn bản chất của mọi dáng vẻ, mọi ánh mắt, mọi khuôn mặt con người, trẻ và già, vui tươi hay tàn phá bên trong khung vẽ canvas. Chưa bao giờ lại có một hoạ sĩ có thể khắc hoạ nhiều khuôn mặt đến như thế. Đặc biệt hơn, tất cả biểu cảm đều được sáng tác dựa trên trí tưởng tượng hay những suy nghĩ mơ hồ của anh về một cuộc sống và thế giới khác. Sức tưởng tượng của anh đã vượt ra khỏi vẻ bề ngoài, thay vào đó, anh nắm bắt và vượt lên trên chiều sâu của cảm xúc và sự phức tạp nội tâm vốn dĩ đang lấn át tâm trí con người.
			.img
				a(href="./img/post/9.png" data-fancybox)
					img(src="./img/post/9.png", alt="")