section.home-2
	.swiper-container
		.swiper-wrapper
			-for(i=0;i<3;i++)
				.swiper-slide
					.box-img
						img(src="./img/home/2.png", alt="")
					.wrap-text
						.container
							.wrap
								.title-text.white Hom Nguyen - Woman
								.desc Series “Woman” được Hom Nguyen sáng tác riêng cho những người yêu nghệ thuật Vietnam.. Sở dĩ anh chọn chủ đề này bởi phong cách sáng tác cũng như nội tâm phức tạp của anh bị tác động nhiều nhất trong quãng thời gian tuổi thơ khi sống cùng mẹ.
								.btn-center
									a(href="").btn.btn-view-more.white Xem thêm
		.wrap-button
			.container
				.button-prev
					em.lnr.lnr-chevron-left
				.button-next
					em.lnr.lnr-chevron-right
