section.page-trung-bay.gallery-1.main-section
	.container
		h1.title-page-big.text-center.mb Trưng bày
		.wrap-slide-section
			h2.title-underline-text Cyril Kongo
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.item-display-gallery
								.display-img.zoom-img
									a(href="")
										img(src="./img/trung-bay/1.png", alt="")
								.display-content
									a(href="").display-title Horus eye
									p.display-small 200x200cm – Mixed media on French linen
									.display-price Giá từ: 54.000.000 - 90.000.000 đ
			.wrap-button-main
				.button-prev.button-sw-2
					em.lnr.lnr-chevron-left
				.button-next.button-sw-2
					em.lnr.lnr-chevron-right
			.item-center
				a(href="").btn.btn-view-more XEM THÊM
		.wrap-slide-section
			h2.title-underline-text Hom Nguyen
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<6;i++)
						.swiper-slide
							.item-display-gallery
								.display-img.zoom-img
									a(href="")
										img(src="./img/trung-bay/1.png", alt="")
								.display-content
									a(href="").display-title Horus eye
									p.display-small 200x200cm – Mixed media on French linen
									.display-price Giá từ: 54.000.000 - 90.000.000 đ
			.wrap-button-main
				.button-prev.button-sw-2
					em.lnr.lnr-chevron-left
				.button-next.button-sw-2
					em.lnr.lnr-chevron-right
			.item-center
				a(href="").btn.btn-view-more XEM THÊM