section.tin-tuc-detail.pt
	.container
		.container-1170
			.wrap-header-post
				h1.title-page-big.fw-400 Hành trình tìm về cội nguồn của hai nghệ sĩ gốc Việt tại xưởng vẽ của Pablo Picasso
				.wrap-date-share
					.date-main 01.03.2021
					ul.wrap-social-main
						li
							a(href="")
								em.ri-facebook-fill
						li
							a(href="")
								em.ri-twitter-fill
						li
							a(href="")
								em.ri-linkedin-box-fill
			.content-main
				p
					strong Nhân duyên nghệ thuật sinh ra từ “cội nguồn”
				p Theo đuổi sự nghiệp DJ từ năm 2011, Florian Picasso với tài năng, sự nỗ lực và một tâm hồn giàu cảm xúc, anh đã sớm thành công ghi tên mình vào danh sách 100 DJ hàng đầu thế giới vào năm 2018. Theo đuổi dòng nhạc House, các nhạc phẩm của Florian Picasso thường mang âm hưởng sôi động, huyền bí, kỳ ảo được tạo ra bởi những âm thanh trống và bass dồn dập.
				p Trong khi đó, Cyril Kongo là một nghệ sỹ Graffiti nổi tiếng bởi những đóng góp to lớn trong việc nâng tầm bộ môn nghệ thuật đường phố graffiti. Ông được đánh giá cao bởi sự xuất sắc trong kỹ thuật, sự phong phú trong hình thức thể hiện và tính nhân văn sâu sắc được truyền tải trong mỗi tác phẩm thông qua ngôn ngữ sáng tạo đầy lạc quan và vui tươi đặc trưng. Các tác phẩm của Cyril Kongo từng được tôn vinh tại nhiều nơi trên thế giới từ cung điện lớn Grand Palais danh giá hay “Khải hoàn môn thứ hai của Paris” Grande Arche la Defense” đến những phòng trưng bày nổi tiếng tại Tokyo, Hongkong, Singapore, Amsterdam hay bảo tàng tại New York. Chính những nỗ lực không ngừng nghỉ của Kongo đã làm thay đổi ý niệm về môn nghệ thuật đường phố vốn có phần nổi loạn này đã “se duyên” cho những màn hợp tác giữa Kongo với những cái tên danh giá bậc nhất trong lĩnh vực thời trang và chế tác cao cấp thế giới như Hermes, Chanel, Richard Mille hay La Cornue.
section.tin-tuc-other
	.container
		.title-page-big.mb Tin tức - Sự kiện khác
		.wrap-slide-main
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							.post-item
								.post-img.zoom-img
									a(href="")
										img(src="./img/home/3.png", alt="")
								.post-content
									a(href="").post-category Tin tức
									a(href="").post-title Hành trình tìm về cội nguồn của hai nghệ sĩ gốc Việt tại xưởng vẽ của Pablo Picasso
									.post-date 01.03.2021
			.wrap-button-static
				.button-prev
					em.lnr.lnr-chevron-left
				.button-next
					em.lnr.lnr-chevron-right
