<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="NewsNone.xslt" name="Danh sách None"></templatelist>
  <templatelist xsltname="NgheSiTongQuan.xslt" name="Nghệ sĩ tổng quan - giới thiệu"></templatelist>
  <templatelist xsltname="NgheSiGioiThieu.xslt" name="Nghệ sĩ - giới thiệu - Kongo"></templatelist>
  <templatelist xsltname="NgheSiGioiThieuGallery.xslt" name="Nghệ sĩ - giới thiệu Gallery - Kongo"></templatelist>
  <templatelist xsltname="NgheSiGioiThieu2.xslt" name="Nghệ sĩ giới thiệu mẫu 2 "></templatelist>
  <templatelist xsltname="NgheSiTinTuc.xslt" name="Nghệ sĩ - tin tức"></templatelist>
  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="NgheSiTinTuc-ChiTiet.xslt" name="Chi tiết tin nghệ sĩ"></templatedetail>
  <templatedetail xsltname="TacPhamChiTiet.xslt" name="Chi tiết tác phẩm"></templatedetail>

  <position>
    <add name="Trang chủ - section giới thiệu" value="1" resourcefile="" />
  </position>
</templates>