section.nghe-si-tin-tuc
	.container
		.wrap-post-big
			.post-big-img
				a(href="").zoom-img
					img(src="./img/post/2.png", alt="")
			.post-big-content
				a(href="").category Tin tức
				h1.title
					a(href="") Nghệ sỹ graffiti Cyril Kongo chia sẻ về kinh nghiệm làm việc cùng Hermes và các thương hiệu chế tác hàng đầu
				.date 01.03.2021
		.wrap-post-small
			.row
				-for(i=0;i<9;i++)
					.col-lg-4.col-sm-6
						.post-item
							.post-img.zoom-img
								a(href="")
									img(src="./img/home/3.png", alt="")
							.post-content
								a(href="").post-category Tin tức
								a(href="").post-title Hành trình tìm về cội nguồn của hai nghệ sĩ gốc Việt tại xưởng vẽ của Pablo Picasso
								.post-date 01.03.2021
	ul.pagination
		li
			a(href="") 1
		li
			a(href="") 2
		li
			a(href="") 3