extends _layout.pug

block var
	- var title = ''
	- var bodyClass = ''
block main
	include ../components/breadcrumb/_breadcrumb.pug
	include ../components/banner/pages-banner.pug
	include ../components/gioi-thieu/index.pug