section.nghe-si-tong-quan.main-section
	.container
		.wrap-flex-content
			.content
				.title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
				.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
			.img
				a(href="./img/post/3.png" data-fancybox)
					img(src="./img/post/3.png", alt="")
				p Allégorie 2 - 200x200cm - mixed media on french linen 2019