footer
	.container
		.row
			.col-lg-3
				.logo-footer
					.logo
						img(src="./img/Logo/logo-footer.png", alt="")
					p © 2021 S&S Art.
						br
						| Thiết kế web bởi Cánh Cam.
					.wrap-social
						a(href="")
							em.fab.fa-facebook-f
						a(href="")
							em.fab.fa-instagram
			.col-lg-3
				.box-address-footer
					.title-footer-underline HANOI
					.title-footer CYRIL KONGO HANOI GALLERY
					.address
						p No. 09, Trang Tien Ward, Hoan Kiem District, Hanoi
						p Opening Hours: 10AM – 7PM
			.col-lg-3
				.box-address-footer
					.title-footer-underline HANOI
					.title-footer CYRIL KONGO HANOI GALLERY
					.address
						p No. 09, Trang Tien Ward, Hoan Kiem District, Hanoi
						p Opening Hours: 10AM – 7PM
			.col-lg-3
				ul.list-menu-footer
					li
						a(href="") Giới thiệu
					li
						a(href="") Nghệ sĩ
					li
						a(href="") Trưng bày
					li
						a(href="") Tin tức - Sự kiện
					li
						a(href="") Blog
					li
						a(href="") Liên hệ

