.zone-tab-1
	.container
		ul.list-tab
			li.tab
				a(href="").link Giới thiệu
			li.tab
				a(href="").link Tác phẩm
			li.tab
				a(href="").link Tin tức - Sự kiện
			li.tab
				a(href="").link Blog
		.wrap-social
			a(href="")
				em.fab.fa-facebook-f
			a(href="")
				em.fab.fa-instagram
