section.nghe-si-gioi-thieu.main-section
	.container
		.wrap(data-toggle="tabslet")
			ul.tabslet-tab.zone-tab-2
				li.active
					a(href="#tab1") Về Cyril Kongo
				li
					a(href="#tab2") Về Cyril Kongo Hanoi Gallery
			.tabslet-content.personKongo.active#tab1
				.item-center.text-center
					.desc-main
						p Cyril Kongo tên thật là Cyril Phan, sinh năm 1969 tại Sài Gòn trong một gia đình có bố là người Việt và mẹ là người Pháp. Năm 18 tuổi, sau khi bỏ học giữa chừng, Cyril bắt đầu sự nghiệp graffiti như một nghệ sĩ tự do và nhanh chóng vươn tới đỉnh cao trong thế giới nghệ thuật đường phố chỉ trong vòng 1 thập kỷ ngắn ngủi. Sự thuần thục những quy tắc hội họa và không ngừng khám phá giới hạn của bản thân đã giúp Cyril nổi lên như một một huyền thoại sống của giới graffiti đương đại khi nâng tầm graffiti thành một loại hình nghệ thuật riêng biệt có sức ảnh hưởng rộng khắp.
						p Là một trong những gương mặt tiêu biểu nhất của thế giới graffiti, Cyril Kongo đã đưa môn nghệ thuật này vượt xa khỏi khuôn khổ của nó khi sử dụng chiếc bình sơn màu của mình trên mọi bề mặt dù là tường, vải, cửa sổ, thân cây, túi xách, khăn quàng cổ, vỏ chai rượu, đồng hồ, xe hơi hay thậm chí là máy bay đặc biệt thông qua các dự án hợp tác với Chanel, Hermès, Richard Mille, Daum v.v.
				.wrap-history-personKongo
					-for(i=0;i<14;i++)
						.sec-history
							.item-img-content
								.item-date-history
									span 1969
								.item-img
									a(href="").zoom-img
										img(src="./img/post/12.png" alt="")
								.item-content
									h3.item-title
										a(href="") Cyril Kongo sinh ra tại Toulouse (Pháp)
									.item-desc Kongo trải qua tuổi thơ tại Việt Nam – quê hương của cha ông. Ông bắt đầu chuyển tới Kongo (Brazzaville) sinh sống từ năm 1975 và chính hai năm ngắn ngủi tại đất đước Châu Phi xinh đẹp này đã ảnh hưởng rất lớn tới con đường phát triển sự nghiệp của ông sau này. Nghệ danh Kongo cũng ra đời từ đây.
									.btn-left
										a(href="").btn.btn-view-more XEM THÊM
							.item-empty
			.tabslet-content.gallery#tab2
				.wrap-flex-main
					.gallery-item-content
						h2.title CYRIL KONGO GALLERY HÀ NỘI
						.content
							p Ra mắt vào năm 2020, Cyril Kongo Hanoi Gallery là phòng tranh đầu tiên trên thế giới của huyền thoại graffiti người Pháp gốc Việt Cyril Kongo. Đây sẽ là nơi trưng bày các tác phẩm nghệ thuật tiêu biểu trong sự nghiệp của nghệ sĩ, đồng thời là cầu nối đưa ngôn ngữ graffiti đặc trưng của ông tiếp cận gần hơn với công chúng Việt Nam.
							p Các tác phẩm mang ngôn ngữ tượng hình sống động được thực hiện trên nhiều chất liệu khác nhau nằm trong các bộ sưu tập và dự án hợp tác của Kongo đã được triển lãm ở nhiều quốc gia trên thế giới.
					.gallery-item-img
						.img
							a(href="./img/post/11.png" data-fancybox)
								img(src="./img/post/11.png" alt="")
