section.page-trung-bay.main-section
	.container
		h1.title-page-big.text-center.mb Cyril Kongo
		.row
			-for(i=0;i<12;i++)
				.col-lg-3.col-md-4.col-sm-6
					.item-display-gallery
						.display-img.zoom-img
							a(href="")
								img(src="./img/trung-bay/1.png", alt="")
						.display-content
							a(href="").display-title Horus eye
							p.display-small 200x200cm – Mixed media on French linen
							.display-price Giá từ: 54.000.000 - 90.000.000 đ