<?xml version="1.0" encoding="utf-8"?>
<appSettings>

    <add key="MSSQLConnectionString" value="server=canhcam-06;UID=snsart_6085;PWD=L2@xYmo#amWR02;database=snsart_6085" />

    <!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	-->

    <add key="UseLegacyCryptoHelper" value="false" />
    <add key="CheckMD5PasswordHashAsFallback" value="false" />
    <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />

    <add key="UseAppKeepAlive" value="false" />
    <add key="AppKeepAliveUrl" value="" />
    <add key="CombineCSS" value="false" />
    <add key="RedirectNonWWWToWWW" value="false" />
    <add key="DisableBannedIpBlockingModule" value="false" />

    <add key="EnableContentWorkflow" value="false" />

    <!--JQuery Setup-->
    <add key="UseGoogleCDN" value="true" />

    <add key="ForceSingleSessionPerUser" value="false" />
    <add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
    <add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
    <add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
    <add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
    <add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />

    <add key="SetMasterInLoginPage" value="false" />
    <add key="SetMasterInChangePasswordPage" value="false" />
    <add key="SetMasterInPasswordResetPage" value="false" />
    <add key="SetMasterInProfilePage" value="false" />
    <add key="SetMasterInRecoverPasswordPage" value="false" />
    <add key="UseTokensForRecoveryPassword" value="true" />
    <!--<add key="TooManyPagesForGridEvents" value="0" />-->
    <add key="AllowMultipleSites" value="false" />

	<add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="249C3DEA503A5D06DA3AF23EB655A180260BFBC5E636C4EF417506A03D7ACD784EFC6F848172BBF37EF69E661DF150F15F0DBA2C851DD98A3A107599433B5952" />
	<add key="Telerik.Upload.ConfigurationHashKey" value="3E60C7402AC030B81B75F30AAD0DE0F5914C00EA71437AB9483B8BB0D904AE7B5BDE5734C9CA8C293650EAAD9CF34ECEFE59C58AF29C64C9718B4E3A694DA974" />
	<add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />
	<add key="AllowFileExtensionRename" value="false" />
</appSettings>