header
	.container
		nav
			.logo
				a(href="")
					img(src="./img/logo.png", alt="")
			.wrap-menu-right
				.top-menubar
					.search
						em.lnr.lnr-magnifier
					ul.wrap-social
						li.link-social
							a(href="")
								em.fab.fa-facebook-f
						li.link-social
							a(href="")
								em.fab.fa-instagram
				.bottom-menu
					ul.main-menu
						li.list-item.active
							a(href="").link Giới thiệu
						li.list-item
							a(href="").link Nghệ sĩ
						li.list-item
							a(href="").link Trưng bày
						li.list-item
							a(href="").link Tin tức - Sự kiện
						li.list-item
							a(href="").link Blog
						li.list-item
							a(href="").link Liên hệ
					.change-lang
						span VN
						em.material-icons keyboard_arrow_down
						.dropdown-lang
							a(href="") VN
							a(href="") EN
				.hambuger
					span
					span
					span
					span
			.menu-mobile
				ul.main-menu
					li.list-item.active
						a(href="").link Giới thiệu
					li.list-item
						a(href="").link Nghệ sĩ
					li.list-item
						a(href="").link Trưng bày
					li.list-item
						a(href="").link Tin tức - Sự kiện
					li.list-item
						a(href="").link Blog
					li.list-item
						a(href="").link Liên hệ
				ul.wrap-social
					li.link-social
						a(href="")
							em.fab.fa-facebook-f
					li.link-social
						a(href="")
							em.fab.fa-instagram
.wrap-search-main
	.container
		.searchbox
			input(type="text" placeholder="Hãy tìm kiếm...")
			button
				em.material-icons search
	.close
		em.material-icons highlight_off