section.banner-home.relative#home-banner
	.swiper-container.slide-home
		.swiper-wrapper
				.swiper-slide
					.box-banner
						img(src="./img/banner/banner-page-1.png", alt="")
					.box-text
						.container
							h2.banner-name Hom Nguyen
							h1.banner-title Người tạo hình chính mình trong hình ảnh mơ hồ về người khác
							.banner-date 03.09.2020 - 01.03.2021
				.swiper-slide
					.box-banner
						img(src="./img/banner/banner-page-2.png", alt="")
					.box-text
						.container.relative
							h2.banner-name Hom Nguyen
							h1.banner-title Người tạo hình chính mình trong hình ảnh mơ hồ về người khác
							.banner-date 03.09.2020 - 01.03.2021
	.container.wrap-down
		.arrow-down
			em.lnr.lnr-arrow-down
